/* beliGame.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Warna utama untuk background */
  color: #e0e0e0; /* Warna teks */
}

/*  */
.navbar {
  background-color: #191919;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin-top: 15px;
  font-size: 24px;
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1e1e1e; /* Warna background kontainer */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
}

.game-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.game-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.game-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(169, 169, 169, 0.5);
}

.game-info {
  flex: 2;
  padding: 20px;
}

.game-info h1 {
  margin-top: 0;
  font-size: 28px;
  color: #00f7ff;
}

.price-container {
  margin-top: 10px;
}

.price-container .original-price {
  font-size: 20px;
  color: #b0bec5; /* Abu-abu terang */
}

.price-container .discounted-price {
  font-size: 24px;
  color: #03dac6; /* Warna aksen diskon */
  font-weight: bold;
}

.price-container .discount-info {
  font-size: 16px;
  color: #b0bec5; /* Abu-abu terang */
}

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

.voucher-container {
  margin-bottom: 15px;
}

.styled-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #333; /* Border abu-abu gelap */
  background-color: #2c2c2c; /* Background input */
  color: #e0e0e0; /* Warna teks */
  border-radius: 5px;
  font-size: 16px;
}

.styled-select:hover {
  border-color: #00f7ff; /* Warna aksen */
}

.buy-btn {
  background-color: #03dac6; /* Tombol dengan warna aksen */
  color: #121212; /* Teks tombol */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-btn:hover {
  background-color: #02c1b0; /* Warna saat hover */
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .game-details {
    flex-direction: column;
  }

  .game-info {
    padding: 10px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
