/* Resetting basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #151f28; /* Latar belakang gelap */
  color: #fff; /* Teks putih untuk kontras lebih tinggi */
}

/* Navbar Styling */
.navbar {
  background-color: #191919;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  color: #00f7ff;
}

.logout-btn {
  padding: 5px 10px;
  background-color: #fc3146;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #e2273b;
}

/* Container Styling */
.container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Game Details Styling */
.game-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: #191919;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 800px;
}

.game-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Game Info Styling */
.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

.game-info h1 {
  font-size: 28px;
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff, 0 0 30px #00f7ff;
  margin-bottom: 10px;
}

.game-info .price {
  font-size: 22px;
  color: #ff962d;
  font-weight: bold;
  margin-bottom: 20px;
}

.game-info form {
  margin-bottom: 10px;
}

.buy-btn {
  padding: 10px 20px;
  background-color: #ff962d;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: #e88a26;
}

.back-btn {
  padding: 10px 20px;
  background-color: #2c2f36;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #3a3e46;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.original-price {
    margin-bottom: 5px;
    color: #888;
}

.discounted-price {
    font-weight: bold;
    color: #e44;
    margin-bottom: 5px;
}

.discount-info {
    font-size: 0.8em;
    color: #666;
}

/* Responsiveness */
@media (max-width: 768px) {
  .game-details {
    flex-direction: column;
    align-items: center;
  }

  .game-info {
    text-align: center;
  }
}
